* {
    margin: 0;
    padding: 0;
}
/* body{
font-family: arial;
} */
.page {
    /* border: 2px solid rgb(247, 1, 1); */
    background-color: #00000029;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------navbar---------------------------------------------------------- */
.navbar {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 30%;
}



/* ---------------------------------------navbar----------------------------------------------------------- */
.formbg {
    height: 90%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    /* border: 1px solid black; */
    top: 133px;
    left: 397px;
    width: 65%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.employeeform {
    width: 80%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

/* ----------------------------------------------form content------------------------------------------------ */
.form-content {
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 1px solid rgb(238, 255, 7); */
    /* margin: 20px; */
}

.form-headding {
    height: 30px;
    /* border: 1px solid black; */
}

.row-content {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-left: 30px; */
    justify-content: space-between;
    /* margin: 20px; */
}

#name {
    /* padding-right: 400px; */
    width: 100%;
}

.nameinput {
    /* border: 1px solid rgb(241, 103, 11); */
    width: 80%;

}

/* ----------------------------------profile--------------------------------------------- */
.row-content-profile {
    /* border: 1px  solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
    height: 60px;
    margin-bottom: 10px;
}

.profile-img-div {
    display: flex;
padding-left: 13%;
    justify-content: flex-start;

}

.profile-img-div>label {
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* ------------------------------------gender----------------------------------------- */
.row-content-gender {
    /* border: 1px  solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-right: 100px; */
    margin-bottom: 10px;
    height: 60px;
}

.gender {
    padding-left: 12%;
}

/* ------------------------------------department----------------------------------------------- */

.row-content-depart {
    /* border: 1px  solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    margin-bottom: 10px;
    height: 60px;
}
.department{
    padding-left: 7%;
}


label {
    
    margin-left: 10px;
    
}

input {
    margin-right: 30px;
    padding: 10px;

}

#name {
    margin-right: 300px;
}

input::placeholder {
    font-size: 16px;
    color: #888;
    width: 200px;
    height: 40px;
    padding: 5px 20px;
}

/* --------------------------------------------date----------------------------------------- */

.row-content-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center;
    /* border: 1px solid black; */
    height: 60px;
}

.date {
    padding-left: 10%;
}

/* --------------------------------------salary------------------------------------------------------ */
.row-content-salary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    height: 60px;
    align-items: center;
}

.salary {
    padding-left: 13%;
}

/* --------------------------------------notes------------------------------------------------------------- */
.row-content-notes {
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-between;
    margin-bottom: 10px;
}

.row-content-notes>input {
    padding-left: 10%;
    padding-right: 280px;
}

/* -------------------------------------------button--------------------------------------------------------- */

.button-div {
    display: flex;
    justify-content: space-between;

    height: 10%;
    margin-top: 10px;

}

.leftbutton {
    width: 100px;
    height: auto;
    border-radius: 5%;

}

.btn {
    width: 100px;
    height: 100%;
    border-radius: 5%;
}

.right-button {

    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding-left: 20%;
}